.post-tab {
    padding: 30px;
}

.comment-tab {
    margin-top: 15px;
    padding: 30px;
}

.top-20{
    margin-top: 20px;
}
.down-10{
    margin-bottom: 10px;
}

a{
    color: #ff5252;
}
.ignore-link {
    color: black;
}