{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {#        <link rel="stylesheet" href="style.css"/>#}
    <script src="{% static 'btwn/jquery-2.1.4.js' %}"></script>
    {#    <script src="{% static 'btwn/follow-buttons.js' %}"></script>#}
    {#        TODO add AJAX style follow-unfollow buttons#}
    <title>Beertweet</title>
</head>
<body>
{% load btwn_filters %}
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{% url 'btwn:post_newest' %}">Public</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'btwn:account_settings' %}">Account Settings : {{ user.username }}</a></li>
                <li><a href="{% url 'btwn:feed' user.id %}">Profile : {{ user | profile_name }}</a></li>
                <li><a href="{% url 'btwn:private_feed'%}">Home</a></li>
                <li><a href="{% url 'btwn:logout' %}">Logout</a></li>
                <li><a href="{% url 'btwn:post_create' %}">Add a new post</a></li>
            {% else %}
                <li><a href="{% url 'btwn:login' %}">Login</a></li>
                <li><a href="{% url 'btwn:register' %}">Register</a></li>
            {% endif %}
        </ul>
    {% endblock %}
</div>
<h1>{% block title %}Beertweet{% endblock %}</h1>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>