{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="{% static 'btwn/jquery-2.1.4.js' %}"></script>
    <title>Beertweet</title>
</head>
<body>
{% load btwn_filters %}
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{% url 'btwn:public_feed' %}">Public Feed</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'btwn:private_feed' %}">Private Feed</a></li>
                <li><a href="{% url 'btwn:post_create' %}">Add a new post</a></li>
                <li><a href="{% url 'btwn:profile_feed' user.id %}">Profile : {{ user | profile_name }}</a></li>
                <li><a href="{% url 'btwn:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'btwn:login' %}">Login</a></li>
                <li><a href="{% url 'btwn:register' %}">Register</a></li>
            {% endif %}
        </ul>
    {% endblock %}
</div>
<h1>
    {% block title %}
        Beertweet
    {% endblock %}
</h1>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>