{% load btwn_filters %}
{% if feed %}
    <ul>
        {% for post in feed %}
            <li>
                <a href="{% url 'btwn:post_detail' post.id %}"><h2>{{ post.title }}</h2></a>
                <a href="{% url 'btwn:profile_feed' post.author.user.id %}">{{ post.author.profile_name }}</a>
                on {{ post.created_on }} wrote:
                <p>{{ post.post_text }}</p>
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% include 'btwn/comment_list.html' %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p> No pint's available</p>
{% endif %}