{% extends 'btwn/base_generic.html' %}
{% block title %}
    Adding a new post
{% endblock %}
{% load materializecss %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_create_form.title |materializecss }}
        {{ post_create_form.post_text |materializecss }}
        {{ post_create_form.image|materializecss }}
        <div class="fieldWrapper">
            <div class="col s12">
                {{ post_create_form.public.errors }}
                {{ post_create_form.public }}
                <label for="id_public">Public</label>
            </div>
        </div>
        <div class="center-align"><input type="submit" value="Add post"
                                         class="waves-effect waves-light btn red btwn-button"/></div>
    </form>
{% endblock %}