{% extends 'btwn/base_generic.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <a href="{% url 'btwn:profile_feed' post.author.user.id %}">{{ post.author.profile_name }}</a>
    <p>{{ post.created_on }}</p>
    <p>{{ post.post_text }}</p>
    {% if is_author %}
        <a href="{% url 'btwn:post_edit' post.id %}">Edit post</a>
        <a href="{% url 'btwn:post_delete' post.id %}">Delete post</a>
    {% endif %}
    {% include 'btwn/comment_list.html' %}
{% endblock %}
